$Arimo-family: "Arimo", sans-serif;
$text-color: #141414;

.home__catalog-title {
  background-color: #ffffff;
  font-family: $Arimo-family;
  font-weight: 400;
  font-size: 80px;
  line-height: 100px;
  color: $text-color;
  text-align: center;
  margin: 100px 0 60px;
}
