$Fahkwang-family: 'Fakhwang',sans-serif;
$Tenor-family: 'Tenor Sans', sans-serif;
$text-color: #141414;

.home__catalog-title {
  font-family: $Fahkwang-family;
  font-weight: 400;
  font-size: 80px;
  line-height: 100px;
  color: $text-color;
  text-align: center;
  margin-top: 10px;
}