$Fahkwang-family: 'Fankwang', sans-serif;
$Tenor-family: 'Tenor Sans', sans-serif;
$text-color: #141414;

// Products.scss
.products {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 292px;
    height: 100%;
    border: 1px solid $text-color;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__wrapper {
    margin-top: 10px;

    &-name,
    &-del_time,
    &-price {
      text-align: center;
      color: $text-color;
      font-family: $Fahkwang-family;
      margin: 5px 0;
    }

    &-name {
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
    }

    &-price {
      font-weight: 500;
      font-size: 40px;
      line-height: 50px;
    }

    &-del_time {
      font-family: $Tenor-family;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      margin-top: 10px;
    }
  }
}