@use "../../shared/styles/variables" as vars;

.profile {
  padding: 80px 0 160px;
  height: 100%;
  max-height: 900px;
  &__container {
    border: 1px solid vars.$primary-color;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 900px;
  }
}
