@use "tailwindcss";
@use "../../node_modules/bootstrap/scss/bootstrap";

.container {
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  list-style: none;
}

.btn {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  transition: 0.5s ease-in-out;

  &:hover {
    background-color: rgb(139, 185, 254);
  }

  &:after {
    content: none;
  }
}

.form-floating {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
