
@use "variables" as vars;

.button {
  background-color: vars.$text-bg-clr;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid vars.$hover-text-clr;
  };

  &:active {
    border: 1px solid vars.$hover-text-clr;
  }
}