@use 'variables' as vars;

.favorite__container {
  margin-top: 100px;
  margin-bottom: 20px;
}

.favorite__title,
.favorite__text,
.favorite__price{
  margin: 0 0 20px 0;
  font: {
    family: vars.$Fahkwang-family;
    weight: 700;
    size: 32px;
  }
  color: vars.$text-clr
}

.favorite__item {
  display: flex;
  margin-bottom: 20px;

  &-img {
    max-width: 300px;
  }

  &-btn--delete {
    max-height: 60px;
    background: transparent;
  }

  &-details {
    padding: 15px;
  }
}