@use "@/shared/styles/variables" as vars;

.category__container {
  margin-bottom: 30px;
}

.category__container-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.category__container-list--item > button {
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid vars.$disable-color;
  }
}

.active-category {
  background-color: vars.$primary-color;
  color: vars.$secondary-color;
}
